body {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 200vw;
    height: 100vh;
    color: white;
    background-color: #150734;
}

body::-webkit-scrollbar {
    display: none;
}

#titleTop {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 1vw;
    letter-spacing: 1px;
    word-spacing: 10px;
    transition: 1s;
}

#pageContent {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 10vh;
    width: 200vw;
    height: 90vh;
    text-align: center;
    color: black;
}

#part1, #part2, #part3, #part4, #part5, #part6 {
    width: 16.67vw;
    height: 90vh;
    float: left;
    transition: 1s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

#part1 { background-color: #346dc4; }
#part2 { background-color: #3882bb; }
#part3 { background-color: #4B9FE1; }
#part4 { background-color: #63BCE5; }
#part5 { background-color: #7ED6EA; }
#part6 { background-color: #bef3ff; }

#part2H {
    font-size: 1.75vw;
    margin: 30px 0 26px 0;
}

#part1H, #part3H, #part4H, #part5H, #part6H {
    font-size: 2vw;
    transition: 0s;
}

.list {
    text-align: center;
    list-style-position: inside;
    margin: 0 50px 0 0;
    font-size: 20px;
}

#short1, #short2, #short3, #short4, #short5, #short6 {
    display: block;
    transition: 0s;
}

#long1, #long2, #long3, #long4, #long5, #long6 {
    display: none;
    transition: 0s;
}
